@font-face {
    font-family: LemonMilk;
    src: url(LEMONMILK-RegularItalic.ttf);
    font-weight: regular;
  }
@font-face {
    font-family: Louis;
    src: url(Louis\ George\ Cafe.ttf);
    font-weight: regular;
}
html {
    font-family: LemonMilk;
    color: rgb(230, 223, 207);
    scroll-behavior: smooth;
}

body {
    padding-bottom: 40px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    z-index: -2;
    
}
h1 {
    color: rgba(230, 223, 207, 0.9);
    font-family: LemonMilk;
    font-weight: regular;
    font-size: 5rem;
    text-align: center;
}

.content {
    display: flex;
}

.nav {
    flex: 1;
    margin: 0;
    text-align: center; 
}

ul {
    padding-inline-start: 0;
}

.words {
    flex: 3;
    bottom: 0;
    overflow: scroll;
}

.title {
    display: inline-block;
    margin: 1.5rem 0; 
}


a {
    text-decoration: none;
     color: rgba(230, 223, 207,0.9);
     font-size: 1.25rem;
}

.link-container {
    top: 50%;
  transform: translateY(-50%);
    display: inline-block;
    position: fixed;

}

.link-container li {
    display: inline-block;
}

.paragraph {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3vw;
    width: 40vw;
    border-radius: 1vw;
    font-size: 1.2rem;
    font-family: Louis;
}

p, li, .menu-item {
    line-height: 1.5;
    color: rgba(230, 223, 207, 0.7);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;

}

h2 {
    font-family: LemonMilk;
}

h4 {
    font-size: 1rem;
    color: rgb(236, 203, 107, 0.8);
}
.resume-button {
    display: inline-block;
    color: rgba(230, 223, 207, 0.9);
    background-color: rgba(0236, 203, 107, 0.2);
    border-radius: 999em;
    padding: 10px 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.resume-button:hover {  
    background-color: rgba(0236, 203, 107, 0.6);
    color: rgba(0236, 203, 107);
    cursor: pointer;
}

a:hover {
    color: rgb(236, 203, 107, 0.8);

}

.fa {
    padding: 10px;
    font-size: 1.5rem!important;
}

#pfp {
  width: 300px; 
  z-index: -1;
  position:absolute;
  transform: translateX(250px) translateY(-100px);
  border-radius: 30%; 
  opacity: 70%;

}

@media screen and (max-width: 800px) {
    body {
        margin: 0;
    }
    .content {
        flex-direction: column;
    }
    .link-container {
        top: 0%;
        transform: none;
        position: fixed;
        width: 100vw;
        padding: 10px;
        display: grid;
        grid-template-areas: 
        "icons icons icons"
        "about experience project";
        grid-gap: 10px;
        z-index: 1;
    }
    .icons {
        grid-area: icons;
    }
    .about {
        grid-area: about;
    }
    .experience {
        grid-area: experience;
    }
    .project {
        grid-area: project;
    }
    .resume {
        bottom: 2vw;
        right: 2vw;
        position: fixed;

    }
    
    .link-container br {
        display: none;
    }
    .menu-item a {
        font-size: 1rem;
    }
    .menu-button{
        display: inline-block;
        color: rgba(230, 223, 207, 0.9);
        background-color: rgba(0236, 203, 107, 0.2);
        border-radius: 999em;
        padding: 10px 20px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .resume-button {
        background-color: rgba(0236, 203, 107, 0.5);
        color: rgba(0236, 203, 107, 0.9);
    }

    .menu-button:hover {  
        background-color: rgba(0236, 203, 107, 0.6);
        color: rgba(0236, 203, 107);
        cursor: pointer;
    }

    .words {
        margin: 5vw;
    }
    .paragraph {
        width: 80vw;
        padding: 5vw;
    }

    h1 {
        font-size: 3rem;
    }

    a, .paragraph, .menu-button {
        font-size: 0.9rem;
    }

    h4 {
        font-size: 0.7rem;
    }

    #pfp {
        display: none;
    }
}

